.main-nav{
    margin-top: 10px;
    margin-left:10%;
    margin-bottom:20px;
}

.icon-home:before {

}

.hamburger-menu-img {
    height: 40px;
    width: 40px;
    display:block;
    position:absolute;
    top: 10px;
    right: 10px;
}

.ul-class {
    display:none;
    width:90%;
    /* position: absolute;
    top:10px; */
    background-color:  rgba(255, 225, 0, 0.851);
    font-size: 30px;
    
    color: rgb(79, 79, 79);
}

.hamburger-menu-img:hover + .ul-class{
    display:block;

}

@media only screen and (min-width: 640px) {
    .hamburger-menu-img {
        display:none;
    }

    li {
        float: left;
        margin-left: 5%;
    }

    .ul-class {
        display:block;
    }

}

.template {
    display: none;
}