.clearfix {
    clear: both;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
/* Header */
.site-header {
    background-color: #FFE9AD;
    padding: 20px 0px 10px 0px
}
.heading-group-h1 h1 {
    margin: 0 0 0.67em 0;
}
.heading-group-h1{
    padding: 0 10px;
}
.icon-menu {
    position: absolute;
    top: 5px;
    right: 15px;
}
.icon-menu::before {
    font-size: 40px;
}
.byline address {
    display: inline-block;
}
.byline {
    color: #777;
}
.byline a {
    text-decoration: none;
    color: #777;
    font-weight: 700;
}

/* Nav links */

.main-nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0;

}
.main-nav ul li a{
    text-decoration: none;
    color: #777;
}

.main-nav ul li{
    padding: 10px 5px;
    border-bottom: 1px solid rgba(119, 119, 119, .3);

}