.heading-group-h1 {
    background-color: blanchedalmond;
}

body {
    font-family: sans-serif;
    color: gray;
}

a {
    color: gray;
    text-decoration: none;
}

h2 {
    margin-left: 15px;
}

h1 {
    margin-left: 15px;
}

main {
    margin-left: 15px;

}